
.Nav-list {
    max-width: 1400px;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10rem;
}


.Nav-item {
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    letter-spacing: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2F281E;
}

.Nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

.nav-button {
    font-family: "Poppins", sans-serif;
    width: 60px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}

.nav-button-2 {
     font-family: "Poppins", sans-serif;
    width: 60px;
    height: 30px;
    background-color: #FF9900;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
}

.Navitem, a:hover {
    background-color: #8d8d8d;
    border-radius: 4px;
}

.Navitem, .nav-button:hover{
    background-color: #FF9900;
    color: #FFFFFF;
}

.Navitem, .nav-button-2:hover {
    background-color: #d18400;
    color: #FFFFFF;
}
    

header {
   max-width: 1400px; 
}

.main-title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    width: 518px;
    height: 108px;
}  

.main-info {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    width: 458px;
    height: 95px;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.main-button {
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-style: normal;    
    font-weight: bold;
}

.main-button-secondary {
    width: 175px;
    height: 53px;
    font-style: normal;    
    font-weight: bold;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    color: #FF9900;
    text-decoration: underline;
}

.main-button:hover {
    cursor: pointer;
    background-color: #d18400;
}

.main-button-secondary:hover {
    cursor: pointer;
    background-color: #FF9900;
    text-decoration: underline;
    color: #FFFFFF;
}

.Title-section-2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    line-height: auto;
    color: #2F281E;
    width: 539px;
    height: 108px;
}

.Card-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #2F281E;
}

.Card-info {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    width: 240px;
    height: 78px;
}

.cards {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
}

.Title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.Sign-up-now {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #FF9900;
    border: none;
    border-radius: 5px;
    width: 175px;
    height: 53px;
}

.Button-container {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.Sign-up-now:hover {
    cursor: pointer;
    background-color: #d18400;
}

.Small-Para {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #544837;
    width: 186px;
    height: 24px;
}

.Para-text {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #544837;
    width: 486px;
    height: 90px;
}

.Section-Title-3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #2F281E;
    width: 385px;
    height: 54px;
   
}

.Small-Title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    width: 211px;
    height: 26px;
    color: #2F281E;
}

.section-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.Section4-Small-Title {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #544837;
    width: 212px;
    height: 24px;
}

.Section-Title-4 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #2F281E;
    width: 342px;
    height: 54px;
}

.Section-4-Para {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #544837;
    line-height: 26px;
    width: 486px;
    height: 78px;
}

.section-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 1400px;
    margin: 0 auto;
}   

.Icon-section-4 {
     display: flex;
     align-items: flex-start; 
     gap: 12px;
}

.Small-Para-5 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #544837;
    width: 131px;
    height: 24px;
}

.Section-Title-5 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    color: #2F281E;
    width: 190px;
    height: 54px;
}

.Para-text-5 {
     font-family: "Poppins", sans-serif;
     font-weight: normal;
     font-style: normal;
     font-size: 16px;
     color: #544837;
     width: 486px;
     height: 90px;
}

.Small-Title-5 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    width: 211px;
    height: 26px;
    color: #2F281E;
}

.section-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.Footer-list {
    width: 1109px;
    height: 308px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    letter-spacing: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.Footer-Container {
    border-top: 1px solid #BCD0E5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-button-2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    border: none;
    border-radius: 5px;
    width: 131px;
    height: 39px;
    color: #FFFFFF;
    background-color: #FF9900
}

.footer-box {
    border: 1px solid #BCD0E5;
    width: 325px;
    height: 48px;
}


.footer-button-2:hover {
    background-color: #d18400;
}




    

    












